<div class="row">
 	<div class="col-2">
		{{BURGER_NAME}}
	</div>
	{{#if DEVOURED}}
	<div class="col-6">
		{{createdAt}}
	</div>
	{{/if}}
	{{#unless DEVOURED}}
	<div class="col-2">
		<button class="btn btn-primary change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
			EAT!
		</button>
	</div>
	<div class="col-2">
		<button class="btn btn-primary remove-eaten" data-id="{{id}}">REMOVE!</button>
	</div>
	{{/unless}}
</div>